# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild

# eslint cache
.eslintcache

#hint
.hintrc

# vscode
.vscode

# script
script

# event
event.json

#env
.env